# Environment files
.env

# Traefik certificates
/traefik/certs/acme.json
/traefik/certs/

# Local data volumes
/postgres-data/
/openldap-data/
/mongodb-data/
/.vagrant/
+app-server/node_modules/
+node_modules/
